*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}



.main-nav {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;       
}





.main-nav img{
    width: 50px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 200px;
}


.main-nav li a {
    color:  #1003A3;
    display: block;
    text-decoration: none;
    font:bold;
    font-size: 18px;
    font-family: sans-serif;
    margin-right: 50px;
} 





.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline-block;
    position: relative;
   
    
}

.main-nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 8.5px;
    outline: none;
    
}

.main-nav li ul li {
   width: 100%;
   background-color: #fff;
   

    
}

.main-nav li ul a {
    color:#1003A3;
    width: 100%;
}

.main-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #1003A3;
    transition: 0.15s ease-in-out;
}

.main-nav li a:hover::after {
    width: 60%;
}



.open-menu, .close-menu{
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}


 .open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    
}

.close-menu{
    top: -20%;
    right: 20px;
    
} 



#main-text{
    margin: 0 auto;
    padding-top: 4%;
    font-size: 1.0714285714285714rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#DRX{
    color: #1003A3;
    font-size: 3.9285714285714284rem;
    line-height: 4.785714285714286rem;
    margin-bottom: 2px;
    text-decoration: none;   
}


#seconde-title{
    margin-bottom: 2px;
    text-transform: uppercase;   
    text-align: center;
}


#pres-text{
    padding-top: 30px;
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}

#main-text article{
    padding-top: 30px;
    width: 81%;
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}

footer{
    background-color: #1003A3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#btn{
    text-decoration: none;
    display: inline-block;  
    padding: 0 30px;
    height: 30px;
    border-radius: 40px;
    background:#1003A3;
    color: #fff;
    font-size: 1.5em;
    margin: 20px auto;
    
}

footer img{
    padding: 4%;
}

footer li{
    list-style:none ;
}

footer iframe{
    width: 100%;
    padding-bottom: 6%;
}

footer p{
    display: inline-block;
    color: #fff;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    letter-spacing: 0.05em;
    text-align: center;
    opacity: 0.5;
}

/* page exploit/news */


#seconde::before {
    content: "";
    position: fixed;
    top: 70px;
    left: 0;
    width: 400px; /* Adjust this to change the width of the color band */
    height: 100vh;
    background: linear-gradient(to top,  #1003A3, #ffffff); /* Change this to your desired color */
    z-index: -1;
}


.news{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10%;
    margin-left: 15%;
}

.news h2{
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-left: 10px;
    display: flex;
}

.news article{
    color: #000000;
    font-size: 1.0714285714285714rem;
    margin-bottom: 2px;
    text-align: justify;
    align-items: center;
    width: 60%;
    padding: 10px; 
}


.news img{
    width: 500px;
    border: 4px solid #1003A3;
}

.date{
    color:#fff;
    font-size: 1.2rem;
    font: bold;
    font-weight: 900;
    padding-right: 10px;   
}

.dotted-line {
    border-left: 5px dotted #000;
    height: 126vh;
    position: absolute;
    left: 36.6666%;
    z-index: -1;
    top: 50%;
}




/*page players*/


.team-text h1{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    justify-content: left;
    text-transform: uppercase;
    color: rgb(24, 53, 127);
    font-size: 2.5rem;
    line-height: 4.71429rem;
    letter-spacing: 0.05em;
    padding-left: 10%; 
}

.team-text h2{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: flex-start;
    padding-left: 11%; 
}

.players{
    display: flex;
    justify-content: center;
    
}

.players p{
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    width: 50%;
    padding: 10px;
}


.players img{
    
    border: 4px solid #1003A3;
    margin: 10px;
    background-color: #1003A3;
}

.img-players{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#schedule-text{
    margin-left: 20%;
    width: 60%;
    color: #1003A3;
    font-size: 1.0714285714285714rem;
    line-height: 1.7857142857142858rem;
    
}



/* #fifth{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    width: 90%;
    margin: 15px auto; 
} */

#fifth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 4%;
    margin-left: 0%;
}


#fifth img{
    width: 300px;
    margin: 0 2%;
    
}

#fifth img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}

#footer article{
    font-size: 2vw;
    color: #fff;
}

#footer article a{
    color: #fff;
    
}



@media only screen and (max-device-width: 1000px){ 
    
    
   .main-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-start;
        height: 75px;  
        overflow: auto;
        width: 100%;
        
    }

    .main-nav img{
        margin-left: 10px;
    }

    .main-nav ul{
        display: flex;
        width: 20%; 
        
        z-index: 2;
        background-color: #ffF;
    }
    .main-nav ul li{
        
        border: 1px solid #1003A3;
    }

    .main-nav ul li a{
        
        text-align: center;
        margin: 0;
    }


    #home{
        margin-left: 0px;
    } 


    

    #main-photo{
        display: none;
    }

    #main-text{
        margin: 0 auto;
        padding-top: 10%;
        font-size: 2vw;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    #main-text article{
        width: 100%;
        font-size: 3vw;
    }

    .news{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        margin-left: 0%;
    }

    .news h2, article{
        margin: 0 auto;
        font-size: 2vw;
        text-align: center;
        width: 50%;

    }

    .dotted-line{
        display: none;
    }

    #team-text{
        font-size: 5vw;
    }

    #team-text h1{
        font-size: 8vw;

    }

    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: center;
        padding-top: 10%;
        justify-items: center;
    }

    #fifth{
        width: 100%;
        justify-content: center;
    }

   

    
    

}

@media only screen and (max-device-width: 581px){
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        margin-left: 0%;

    }
}
